@page "/products"
@model Products.IndexModel

@* 4.4 Add Custom TagHelper *@
@addTagHelper *, RazorPage2

@* @removeTagHelper Microsoft.AspNetCore.Mvc.TagHelpers.AnchorTagHelper, Microsoft.AspNetCore.Mvc.TagHelpers *@

<h1>Products Page</h1>

@* <!a asp-page="/ViewProduct" asp-route-id="1">ViewProduct</!a>  *@
<a asp-page="/ViewProduct" asp-route-id="1">ViewProduct</a> 

<form>
  <label asp-for="UserName"></label>
  <input asp-for="UserName" />
  <hr>
  @Html.Label("UserName")
  @Html.TextBox("UserName")
  @* Recommend use TagHelper than HtmlHelper *@
</form>

@* Use mylist TagHelper *@
<mylist
  list-title="Product List"
  list-items="@Model.Products"
>
</mylist>

<a class="btn" asp-page="Index" asp-page-handler="lastproduct">Last Products</a>
<a class="btn btn-primary" asp-page="Index" asp-page-handler="load">Load Products</a>
<a class="btn btn-danger" asp-page="Index" asp-page-handler="removeall">Clear Products</a>